.formTextArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.formTextArea label {
  font-weight: 500;
  font-size: 14px;
}

.formTextArea textarea {
  padding: 10px 20px;
  min-height: 40px;
  border: 1px solid #8F8D93;
  border-radius: 5px;
  field-sizing: content;
}

.formTextArea textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
}