.loader {
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .wrapper {
  width: 60px;
  height: 60px;
}