.createAction {
  width: 455px;
  min-height: min(600px, 70dvh);
  background-color: white;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.createAction .formContent {
  padding: 50px 24px 80px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.createAction .inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.createAction .buttons {
  padding: 12px;
}

.createAction .closeBtn {
  background: transparent;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 24px;
  cursor: pointer;
}

.createAction .buttons {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.createAction .buttons > button {
  min-width: 150px;
  flex: 1;
}