.sidebar {
  width: 230px;
  min-height: calc(100dvh - 65px);
  padding-bottom: 24px;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

