.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.073);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal .content {
  width: auto;
  max-width: 90%;
  height: auto;
  max-height: 90%;
  display: flex;
  justify-content: center;
  position: relative;
}
